<!DOCTYPE html>
<html>

<head>
  <title>Vue Add Multiple Input</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Multiple Inputs</h1>
    <div v-for="(input, index) in inputs">
      <input v-model="input.value">
    </div>
    <button @click="addInput">
      New Input
    </button>
    <pre>{{ $data }}</pre>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        inputs: []
      },
      methods: {
        addInput: function () {
          this.inputs.push({ value: '' });
        }
      }
    });
  </script>
</body>

</html>